:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.1;
  padding: 1rem;
}

main {
  background-color: #ffffff;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 0 .5rem .5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

input-container {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  font-size: .5rem;
  margin-top: 1rem;
}

checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
}

button {
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}